<a href="https://colab.research.google.com/github/Serena-Sassi/learning-python-with-the-groom/blob/main/le_mie_note.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Vedere il tipo**

In [ ]:
x = 69
print(type(x))

x = 2.5
print(type(x))

x = "ciao"
print(type(x))

x = [1,2,3,4,5]
print(type(x))

x = True
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'bool'>

**Operazioni comuni**

In [ ]:
print(3+3)
print(3-3)
print(3*3)
print(3/3)
print(3**3)  # elevazione a potenza
print(5//2)  # divisione con arrotondamento per difetto (floor division)
print (30%7)  # modulo (dà solo il resto della divisione tra due numeri)

6
0
9
1.0
27
2
2

**Variabili e stringhe**

In [13]:
x = 3.14
pi = 4
print(pi*3)

val = 9.81
print(type(val))

frase = "ciao pino!"
print(type(frase))
pina = "ciao \"pina\" come va?"

print(frase +" "+ pina)

12
<class 'float'>
<class 'str'>
ciao pino! ciao "pina" come va?

**Conversioni di tipo, print, input e primo programma**

In [47]:
age = 25
text = "La mia età è: " 
print(text+str(age))  # per concatenare un numero ad una stringa 

a = "2.5"
print(float(a))

stella = "13"  # stringa
type(stella)
print(stella * 3)  # concatena 3 volte 13 perchè è una str e non un int

print(int(stella) * 3)  # fa il calcolo perchè prima di * abbiamo trasformato
                        # stella in un int

print("Riga uno\nRiga due")  # per andare a capo \n

print('''Riga uno  
Riga due''')  # oppure ''' frasi ''' 

x = input("num uno: ")
y = input("num due: ")
print(x+y)  # mette i due numeri concatenati perchè input prende solo str

print(float(x)+ float(y))  # somma perchè con float() diventano float

La mia età è: 25
2.5
131313
39
Riga uno
Riga due
Riga uno
Riga due
num uno: 7
num due: 8
78
15.0

**Programmino**

In [58]:
nome_rob = "Elisa"
age_rob = 16
print("Ciao! Mi chiamo " + nome_rob + " e ho " + str(age_rob) + " anni")  # metti spazi 
                             # se no il testo è attaccato
utente = input(" E tu come ti chiami? ")
print("Piacere di conoscerti, " + utente + " !!")
age_utente = int(input("Quanti anni hai? "))  # nuova variabile
age_difference = age_utente - age_rob  # differenza età dei due
if age_utente > age_rob :
  print(str(age_utente) + " anni?! Sono " + str(age_difference) +
        "  anni più di me!")  
elif age_utente < age_rob  :
  print(str(age_utente) + " anni?! Sono " + str(age_difference*(-1)) + " anni meno di me!" )
elif age_difference== age_rob:  # == confronto 
  print( " Fantastico, abbiamo la stessa età! ")

Ciao! Mi chiamo Elisa e ho 16 anni
 E tu come ti chiami? Laura
Piacere di conoscerti, Laura !!
Quanti anni hai? 22
22 anni?! Sono 6  anni più di me!