<a href="https://colab.research.google.com/github/Serena-Sassi/learning-python-with-the-groom/blob/main/the_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Vedere il tipo**

In [ ]:
x = 69
print(type(x))

x = 2.5
print(type(x))

x = "ciao"
print(type(x))

x = [1,2,3,4,5]
print(type(x))

x = True
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'bool'>

**Operazioni comuni**

In [ ]:
print(3+3)
print(3-3)
print(3*3)
print(3/3)
print(3**3)  # elevazione a potenza
print(5//2)  # divisione con arrotondamento per difetto (floor division)
print (30%7)  # modulo (dà solo il resto della divisione tra due numeri)

6
0
9
1.0
27
2
2

**Variabili e stringhe**

In [ ]:
x = 3.14
pi = 4
print(pi*3)

val = 9.81
print(type(val))

frase = "ciao pino!"
print(type(frase))
pina = "ciao \"pina\" come va?"

print(frase +" "+ pina)

12
<class 'float'>
<class 'str'>
ciao pino! ciao "pina" come va?

**Conversioni di tipo, print, input e primo programma**

In [ ]:
age = 25
text = "La mia età è: " 
print(text+str(age))  # per concatenare un numero ad una stringa 

a = "2.5"
print(float(a))

stella = "13"  # stringa
type(stella)
print(stella * 3)  # concatena 3 volte 13 perchè è una str e non un int

print(int(stella) * 3)  # fa il calcolo perchè prima di * abbiamo trasformato
                        # stella in un int

print("Riga uno\nRiga due")  # per andare a capo \n

print('''Riga uno  
Riga due''')  # oppure ''' frasi ''' 

x = input("num uno: ")
y = input("num due: ")
print(x+y)  # mette i due numeri concatenati perchè input prende solo str

print(float(x)+ float(y))  # somma perchè con float() diventano float

La mia età è: 25
2.5
131313
39
Riga uno
Riga due
Riga uno
Riga due
num uno: 7
num due: 8
78
15.0

**Programmino**

In [ ]:
nome_rob = "Elisa"
age_rob = 16
print("Ciao! Mi chiamo " + nome_rob + " e ho " + str(age_rob) + " anni")  # metti spazi 
                             # se no il testo è attaccato
utente = input(" E tu come ti chiami? ")
print("Piacere di conoscerti, " + utente + " !!")
age_utente = int(input("Quanti anni hai? "))  # nuova variabile
age_difference = age_utente - age_rob  # differenza età dei due
if age_utente > age_rob :
  print(str(age_utente) + " anni?! Sono " + str(age_difference) +
        "  anni più di me!")  
elif age_utente < age_rob  :
  print(str(age_utente) + " anni?! Sono " + str(age_difference*(-1)) + " anni meno di me!" )
elif age_difference== age_rob:  # == confronto 
  print( " Fantastico, abbiamo la stessa età! ")

Ciao! Mi chiamo Elisa e ho 16 anni
 E tu come ti chiami? Laura
Piacere di conoscerti, Laura !!
Quanti anni hai? 22
22 anni?! Sono 6  anni più di me!

**Controllo del flusso**

In [ ]:
cancello = True
type(cancello)

bool

**Operatori di comparazione**

In [ ]:
x == 2  # uguale a
x != 2  # non uguale a
x <= 2  # minore o uguale a
5 == 5  # True
5 == 4  # False

**AND, OR, NOT, TABELLE DI VERITA**

**AND**

In [ ]:
TRUE AND TRUE = TRUE
TRUE AND FALSE = FALSE
FALSE AND TRUE = FALSE
FALSE AND FALSE = FALSE

**OR**

In [ ]:
TRUE OR FALSE = TRUE
TRUE OR TRUE = TRUE
FALSE OR TRUE = TRUE
FALSE OR FALSE = FALSE

**NOT**

In [ ]:
NOT TRUE = FALSE
NOT FALSE = TRUE

In [ ]:
# and
21 > 1 and 3 < 5  # True
22 == 22 and 1 > 2  # False

# or
23 > 23 or 23 <= 25  # True
4 == 5 or 5 == 6  # False

#not
not 3 == 3  # False

**IF, ELIF, ELSE**

In [ ]:
age = 19
lecense = True

if age >= 18 and licence == True:
  print("Puoi noleggiare una macchina")
elif age <= 18 and licence == False:
    print("prenditi prima la patente")
else :
  print("ripassa tra qualche anno")

**WHILE, BREAK, CONTINUE**

In [ ]:
COUNTER = 0
while COUNTER <= 10:
  print(COUNTER)
  COUNTER += 1  # numeri da 0 a 10

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
run = True
counter = 0
stop = 50

while run == True:
  print(counter)
  counter += 1
  if counter > stop:
    print("sto uscendo dal loop")
    break  # senza premere Ctrl+C per arrestare il loop

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
sto uscendo dal loop

In [ ]:
run = True
skip = 3
counter = 0

while counter < 10:
  counter += 1
  if counter == skip:
    print("sto saltando " + str(skip))
    continue
  print(counter)

1
2
sto saltando 3
4
5
6
7
8
9
10

**FOR and RANGE**

In [ ]:
# Per un numero specifico di cicli

for number in range(11):  #number è la variabile
    print(number)  # range imposta un intervallo di esecuzione ampio
                   # quanto il parametro in ()

0
1
2
3
4
5
6
7
8
9
10

Parametri di RANGE:
1) START
2) STOP
3) STEP (avanzamento)

In [ ]:
for number in range(3,11,2):  # inizia da 3, avanza di 2, ferma a 9
  print(number)

3
5
7
9

**Standard Library**

In [ ]:
import random  # importare modulo random con import
for number in range(10):
  val = random.randint(1,50)  #range
  print(val)

32
40
30
23
49
24
6
17
41
4